#about {
    padding: 120px 0px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 765px) {
    #about {
        padding: 20px 0px 120px 0px;
    }
}

#about h5 {
    font-size: 26px;
    font-weight: 700;
    color: #1e1e1e;
    line-height: 40px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}

#about p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

#about li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    color: dodgerblue;
    margin-right: 10px;
}